<% include head %>
</head>
<body>
	<% include navbar %>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="single-movie-title">
					<%= responseData.title %>
				</h1>
				
				<h3 class="single-movie-title">
					<%= responseData.tagline %>
				</h3>
				

				<img src="<%= imageUrlPrefix+responseData.poster_path %>" />
				
				<p class="overview-header"><span class="single-movie-overview">
					<%= responseData.overview %>
				</span></p>
			</div>
		</div>
	</div>
</body>
</html>