<div class="">
    <div class="search-form">
        <form action="/search?source=hp" method="post" id="search-form" class="form-inline">
            <div class="form-group">
                <select name="cat" class="form-control" id="cat">
                    <option value="movie">Search By Title</option>
                    <option value="person">Search By Actor</option>
                </select>
            </div>
            <input type="text" id="movie" placeholder="Search" name="movieSearch" />
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>